@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

:root {
  --primary-color: #090C9B;
  --secondary-color: #3066BE;
  --primary-bg: #FBFFF1;
  --secondary-bg: #3C3744;
  --text-primary: #141217;
  --text-secondary: #B4C5E4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-bg);
  color: var(--text-primary);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

li {
  list-style: none;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

/* img {
  width: 100%;
  height: auto;
} */